.userCard {
  margin: 0px 16px 20px 0px;
}
.userImageWrapper {
  padding: 12px;
  border: 2px solid #313131;
  border-radius: 16px;
  position: relative;
}

.userImage {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.userId {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgb(254, 144, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 208px;
  top: -30px;
}

.userName {
  padding-top: 10px;
  font-size: 20px;
}

@media (min-width: 765px) {
  .userName {
    font-size: 30px;
  }
  .userId {
    font-size: 18px;
  }
}
